@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@1,700&display=swap");
li:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.25, 1.25);
}
button:hover {
  background-color: white;
  color: royalblue;
  transition: 0.3s ease-in-out;
  transform: scale(1.25, 1.25);
  /* box-shadow: 0 9px #999; */
}
button:active {
  background-color: royalblue;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
  color: white;
}
button {
  background-color: gainsboro;
  color: royalblue;
}
.send {
  background-color: white;
}
.send:hover {
  background-color: white;
  color: royalblue;
  transition: 0.3s ease-in-out;
  /* transform: scale(1.10, 1.10); */
}
.send:active {
  background-color: royalblue;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
  color: white;
}
.skill:hover .skill-card-inner {
  transform: rotateY(180deg);
}

.skill-card-front,
.skill-card-back {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.skill-front-back {
  position: relative;
  transform: perspective(600px) rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.skill-card-back {
  position: relative;
  transform: perspective(600px) rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: royalblue;
}
